/* FONT */
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');

/* GENERAL */
*,
*:after,
*::before {
	box-sizing: border-box;
	margin:0px;
	padding:0px;
}
html,body{
	height: 100%;
}
body{
	background: #fff;
    font-size: 14px;
    font-family: 'Montserrat';
    color:#275744;
}
p{
	line-height: 180%;
}
.container{
}
.nomargin{

	margin:0;
}
.nopadding{
	padding:0;
}
a,a:link{
	color:#EDB200;
}
.btn:hover{
	opacity: 0.8;
}
.thumbnail{
	border-radius:0;
	-webkit-border-radius:0;
	padding:0;
	border:none;
	background:none;
	opacity: 1;
	margin:0;
}
.thumbnail:hover{
	opacity: 1;
}
.thumbnail.thumbnail-bg{
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	margin:0;
}
.bg-left{
	width: 50%;
	right: auto;
}
.bg-right{
	width: 50%!important;
	left: auto!important;
}
.bg-contain{
	background-size: contain!important;
	background-position: center top!important;
}
.preloader{
	position: fixed;
	top:0;
	left:0;
	height: 100%;
	width: 100%;
	background:#fff;
	z-index: 99999;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
}
.preloader img{
	width: 80px;
	height: 80px;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.preloader.out{
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
}
.section{
	position: relative;
}
.section-sm{
	padding:15px 0;
}
.section-md{
	padding:30px 0;
}
.section-lg{
	padding:50px 0;
}
.section-xl{
	padding:80px 0;
}
.section-bg{
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.section .heading{
	font-weight: 200;
}
.section h2.heading{
	font-size: 40px;
	margin:0 0 40px;
}
.container-fluid{
	max-width: 95%;
}
.btn{
	border-radius: 2px;
}
.header{
	min-height: 100px;
	position: relative;
	z-index: 999;
}
.header .navbar{
	min-height: 100px;
	background:none;
	border:none;
	border-radius: 0;
	-webkit-border-radius: 0;
	margin:0;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	position: fixed;
	top:0;
	left:0;
	right:0;
}
.header.float .navbar{
	z-index: 9999;
	box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
	-webkit-box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
	background:#fff;
}
.header.brill .navbar{
	z-index: 9999;
	box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
	-webkit-box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
	background:#fff;
}
.header .navbar-header{
	margin-right: 50px;
}
.header .navbar-brand{
	margin:20px 0 0!important;
	padding:0!important;
	height: 60px;
}
.header .navbar-brand img{
	width: auto;
	height: 100%;
}
.navigation{
	margin:30px 0 0;
}
.navigation .navbar-nav{
	margin:0!important;
}
.navigation .navbar-nav.navbar-right{
	margin-right:-15px!important;
}
.navigation .navbar-nav > li{
	position: relative;
}
.navigation .navbar-nav > li > a{
	padding:0 15px;
	height: 40px;
	line-height: 40px;
	font-size:14px;
	text-transform: uppercase;
	font-weight: bold;
	color:#e7a507;
	border-radius:5px;
}
.navigation .navbar-nav > li > a:hover{
	background:#edb200;
	color:#fff;
}
.navigation .navbar-nav.navbar-left > li.active > a{
	background:#edb200;
	color:#fff;
	border-radius: 5px 5px 0 0;
}
.navigation .navbar-nav.navbar-left > li > ul{
	position: absolute;
	top:100%;
	left:0;
	background:#edb200;
	list-style:none;
	display: none;
	padding:10px;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
	box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
	-webkit-box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
}
.navigation .navbar-nav.navbar-left > li > ul > li > a{
	display: block;
	white-space: nowrap;
	padding:15px;
	color:#fff;
	min-width: 200px;
	cursor: pointer;
	text-decoration: none!important;
}
.navigation .navbar-nav.navbar-left > li > ul > li > a:hover{
	background:rgba(255,255,255,0.2);
}
.navigation .navbar-nav > li.cart > a{
	color:#fff;
	background:#edb200;
	font-size:20px;
	box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4)!important;
	-webkit-box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4)!important;
}
.searchbox{
	position: relative;
}
.searchbox .dropdown-toggle{
	background: none!important;
	color:#d99a07!important;
}
.searchbox .dropdown-menu{
	position: absolute;
	top:-8px;
	right:-8px;
	padding:0;
	box-shadow: none;
	-webkit-box-shadow: none;
	border:none;
}
.searchbox .input-group{
	width: 250px;
	background:#fff;
	border:1px solid #eee;
	padding:10px;
}
.searchbox .input-group .form-control{
	border:none;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	background:none;
}
.searchbox .input-group .btn-search{
	background:none;
	border:none;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	outline: none!important;
}
#slideshow-section{
	background:#fff;
	padding:0;
	position: relative;
	margin-top:-100px;
}
#slideshow-section:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	right:0;
	background:#fff;
	height: 200px;
}
#slideshow .slick-dots{
	display: inline-block;
	position: absolute;
	top:50%;
	right:30px;
	z-index: 100;
	list-style-type: none;
	margin:0;
	padding:0px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
#slideshow .slick-dots li{
	display: block;
}
#slideshow .slick-dots li button{
	width: 10px;
	height: 10px;
	text-indent: -9999px;
	background:#aaa;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border:none;
	margin:0 10px;
	outline: none;
}
#slideshow .slick-dots li.slick-active button{
	background:#111;
}
#slideshow .slide{
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}
#slideshow .slide img{
	width: 100%;
	height: 100vh;
}
#slideshow .caption{
	position: absolute;
	left:50px;
	bottom:50px;
	max-width: 50%;
	padding:50px;
	font-size:40px;
	color:#0192D0;
	display: block;
	text-decoration: none;
	display: block;
	background:#fff;
	box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
	-webkit-box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
}
#section-kulit{
	background: radial-gradient(#F5E3A1,#FABD48);
	background: -webkit-radial-gradient(#F5E3A1,#FABD48);
}
#section-kulit .heading{
	text-align: center;
	color:#fff;
	padding:20px 0;
	background: linear-gradient(60deg,#FABD48,#F5E3A1);
	background: -webkit-linear-gradient(60deg,#FABD48,#F5E3A1);
}
#section-kulit .heading h2{
	font-weight: 200;

}
.jenis-kulit-slider{
	position: relative;
}
.jenis-kulit-slider .slide{
	padding:100px 0;
	position: relative;
	overflow: hidden;
	margin:0 100px;
}
.jenis-kulit-slider .thumbnail{
	width: 50%;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	transition-delay: 400ms;
	-webkit-transition-delay: 400ms;
	opacity: 0;
}
.jenis-kulit-slider .text{
	position: absolute;
	top:0;right:0;bottom:0;
	width: 40%;
	background:#faebc4;
	padding:50px;
	box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.8);
	-webkit-box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.8);
	font-size: 16px;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	transition-delay: 450ms;
	-webkit-transition-delay: 450ms;
	opacity: 0;
}
.jenis-kulit-slider .slick-active .text{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	opacity: 1;
}
.jenis-kulit-slider .slick-active .thumbnail{
	transform: translateY(0);
	-webkit-transform: translateY(0);
	opacity: 1;
}
.jenis-kulit-slider .text h3{
	font-size:30px;
	font-weight: 300;
	text-transform: uppercase;
	margin:0 0 15px;
}
.btn.btn-shop{
	background: #333;
	color:#fff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	border:none;
	outline: none;
	font-size:16px;
	padding:10px 30px;
	margin-top:30px;	
}
.jenis-kulit-slider .slick-arrow{
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border:1px solid #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	background:none;
	color:#fff;
	outline: none;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
}
.jenis-kulit-slider .slick-arrow:hover{
	background:#fff;
	color:#333;
}
.jenis-kulit-slider .slick-arrow.slick-prev{
	left:30px;
}
.jenis-kulit-slider .slick-arrow.slick-next{
	right:30px;
}
.blog-row{
	margin:0 -10px;
}
.blog-row div[class*=col-]{
	padding:0 5px;
}
.blog-row .col-sm-4:nth-child(4){
	clear: both;
}
.blog-item{
	margin:0 0 10px;
	background: #edb200;
	color:#fff;
}
.blog-item .thumbnail{
	max-height: 200px;
	overflow: hidden;
	margin:0 0 15px;
	position: relative;
}
.blog-item .thumbnail .caption{
	position: absolute;
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	display: flex;
	align-items: center;
	justify-content: center;
	background:rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	z-index: 10;
}
.blog-item .thumbnail .caption a{
	color:#fff;
	background:#edb200;
	border:1px solid #fff;
	display: inline-block;
	text-decoration: none!important;
	font-size: 11px;
	text-align: center;
	padding:5px 10px;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
	opacity: 0;
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
}
.blog-item .thumbnail .caption a:nth-child(2){
	transition-delay: 100ms;
	-webkit-transition-delay: 100ms;
}
.blog-item .thumbnail img{
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.blog-item .thumbnail:hover .caption{
	opacity: 1;
	visibility: visible;
}
.blog-item .thumbnail:hover .caption a{
	opacity: 1;
	transform:translateY(0);
	-webkit-transform:translateY(0);
}
.blog-item .thumbnail:hover img{
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
}
.blog-item a.post-title{
	color:#333;
	font-weight: bold;
	font-size:16px;
	margin:0 0 10px;
	display: block;
	text-decoration: none!important;
}
.blog-item a.post-title:hover{
	color:#edb200;
}
.blog-item .more{
	display: inline-block;
	clear: both;
	margin-top:15px;
	text-transform: uppercase;
	font-size:12px;
	color:#333;
	font-weight: bold;
}
.blog-item .post-content{
	padding:0px 15px;
	text-align: center;
	/* min-height: 180px; */
}
.blog-item .post-content .post-title a{
	color:#fff;
	text-transform: uppercase;
	text-decoration: none!important;
}
.blog-item .post-content .badge{
	background:#fff;
	color:#edb200;
	border-radius: 0;
	-webkit-border-radius: 0;
	padding:5px 10px;
	text-transform: uppercase;
}

.blog-item-news{
	background:#fff;
	color:#333;
	border:1px solid #eee;
}
.blog-item-news .post-title a{
	color:#edb200!important;
}
.blog-item.blog-item-news .badge{
	color:#fff;
	background:#edb200;
}
.blog-item.blog-item-news .thumbnail .caption a{
	background:#edb200;
}
.pagination{
	width: 100%;
	text-align: center;
}
.pagination li{
	display: inline-block;
	float: none;
}
.pagination li a{
	display: block;
	margin:0 5px;
	border-radius: 50%!important;
	-webkit-border-radius: 50%!important;
}
.pagination li a:hover{
	background:#edb200;
	color:#fff;
	border:1px solid #edb200;
}
.pagination li.active a{
	background:#edb200;	
	color:#fff;
	border:1px solid #edb200;
}
#section-subscribe{
	background:#edb200;
	color:#fff;
	padding:30px 0;
}
#section-subscribe h3{
	margin:0;
}
#section-subscribe h5{
	margin:0;
}
#section-subscribe .form-control{
	border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	border:none;
	/* min-width: 300px; */
}
#section-subscribe .btn-subscribe{
	background:#333;
	color:#fff;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
}
#section-contact{
	background:#fff;
	border-top:1px solid #eee;
	padding:30px 0;
}

#section-contact .icon{
	position: relative;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size:16px;
}
#section-contact .icon:before{
	content: "";
	position: absolute;
	top:5px;
	left:5px;
	width: 30px;
	height: 30px;
	background:#333;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	transform: rotate(45deg);
}
#section-contact .icon .fa{
	color:#fff;
	position: relative;
}
#section-contact .media-body{
	padding-left: 15px;
}
#section-contact h4{
	font-size:16px;
	font-weight: bold;
	margin:0 0 5px;
}
#section-contact p{
	line-height: 16px;
	margin:0;
}
#footer{
	background:#fcefde;
	color:#333;
	padding:30px 0;
}
#footer .navbar-nav{
	display: block;
	float: none;
	margin-left: -10px;
	margin-top:10px;
}
#footer .navbar-nav li a{
	padding:0 10px;
	text-transform: uppercase;
	font-weight: 200;
}
#footer a{
	/* color:#333; */
	font-weight: bold;
}
ul.social{
	list-style: none;
	display: inline-block;
	margin:15px 15px 0 0;
}
ul.social li{
	display: inline-block;
}
ul.social li a{
	display: block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	font-size:20px;
	text-align: center;
	color:#333;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	margin:0 2px;
}
ul.social li a:hover{
	background:#333;
	color:#fff;
}
ul.lang{
	list-style: none;
	display: inline-block;
	margin:15px 0 0 0;
}
ul.lang li{
	display: inline-block;
}
ul.lang li a{
	display: block;
}
ul.lang li a img{
	height: 40px;
}
#pathway{
	background:#edb200;
	padding:10px 0;
}
.breadcrumb{
	background:none;
	margin:0;
	color:#fff;
	text-transform: uppercase;
}
.breadcrumb li.active{
	color:#fff;
	font-weight: bold;
}
.breadcrumb>li+li:before {
	padding:0 15px;
    color: #fff;
    content: "\f105";
    font-family: "fontawesome";
}
.breadcrumb a{
	color:#fff;
}
.section ul,
.section ol{
	margin-left: 20px;
}
.gallery-row > div:nth-child(4){
	clear: both;
}
.gallery-item{
	display: block;
	margin-bottom: 30px;
	position: relative;
}
.gallery-item:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	background:rgba(0,0,0,0.5);
	opacity: 0;
	visibility: hidden;
	transition: all 300ms ease;
	-webkit-transition: all 300ms ease;
}
.gallery-item:after{
	content: "\f002";
	font-family: "fontawesome";
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	display: block;
	position: absolute;
	top:50%;
	left:50%;
	transition:all 300ms ease;
	-webkit-transition:all 300ms ease;
	background:rgba(255,255,255,0.3);
	color:#fff;
	transform:translate(-50%,100%);
	-webkit-transform:translate(-50%,100%);
	opacity: 0;
	visibility: hidden;
}
.gallery-item:hover:before{
	opacity: 1;
	visibility: visible;
}
.gallery-item:hover:after{
	opacity: 1;
	visibility: visible;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.album-row > div:nth-child(4){
	clear: both;
}
.album-item{
	display: block;
	margin-bottom: 50px;
	position: relative;
}
.album-item .thumbnail{
	border:10px solid #fff!important;
	box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.6);
	-webkit-box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.6);
	position: relative;
	margin:0 0 30px;
}
.album-item .thumbnail:before,
.album-item .thumbnail:after{
	content: "";
	width: 106%;
	height: 106%;
	background:#fff;
	box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.6);
	-webkit-box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.6);
	display: block;
	position: absolute;
	top:-3%;
	left:-3%;
	transform: rotate(-5deg);
	z-index: -1;
}
.album-item .thumbnail:after{
	transform: rotate(5deg);
}
.album-item .text{
	text-align: center;
}
.btn-submit{
	background:#edb200;
	color:#fff!important;
	border-radius: 50px; 
	-webkit-border-radius: 50px; 
	padding:10px 30px;
}
.btn-social-icon{
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding:0;
	margin:0px;
	background:#333;
	color:#fff!important;
	border-radius: 50%;
	-webkit-border-radius: 50%;
}
.btn-facebook{
	background:#3B5998;
}
.btn-twitter{
	background:#55ACEE;
}
.btn-instagram{
	background:#6e2a85;
}
.btn-youtube{
	background:#DD4B39;
}
.btn-google-plus{
	background:#DD4B39;
}
.form-control{
	border-radius: 0;
	-webkit-border-radius: 0;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	border:2px solid #333;
}
.product-row > div:nth-child(4){
	clear: both;
}
.product-row .product-item{
	margin-bottom: 30px;
	position: relative;
	overflow: hidden;
}
.product-row .product-item .thumbnail{
	max-height: 300px;
	overflow: hidden;
	background:none;
}
.product-row .product-item .thumbnail img{
	transition:all 300ms ease;	
	-webkit-transition:all 300ms ease;	
}
.product-row .product-item:hover .thumbnail img{
	transform: scale(1.2);
}
.btn-product-detail{
	color:#fff!important;
}
.section-product{
	background: linear-gradient(15deg,#edb200,#F5E3A1);
	background: -webkit-linear-gradient(15deg,#edb200,#F5E3A1);
	color:#fff;
}
.news-slider .slide{
	min-height: 400px;
	padding:30px 0;
	position: relative;
}
.news-slider .slide .thumbnail-bg:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right: 0;
	background:rgba(0,0,0,0.5);
	opacity: 0;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
}
.news-slider .slide:hover .thumbnail-bg:before{
	opacity: 1;
}
.news-slider .slide .caption{
	display: block;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,30px);
	-webkit-transform: translate(-50%,30px);
	background:#fff;
	padding:30px;
	text-align: center;
	text-decoration: none!important;
	overflow: hidden;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	transition-delay: 500ms;
	-webkit-transition-delay: 500ms;
	opacity: 0;
}
.news-slider .slide.slick-active .caption{
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	opacity: 1;
}
.news-slider .slide .caption:before{
	content: "";
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	width: 100%;
	background:#111;
	z-index: -1;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
}
.news-slider .slide .caption .category{
	color:#aaa;
	font-size:12px;
	font-style: italic;
}
.news-slider .slide .caption .post-title{
	font-size:20px;
	text-transform: uppercase;
	color:#111;
	font-weight: bold;
	margin:15px 0;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
}
.news-slider .slide .caption .meta{
	color:#aaa;
	font-style: italic;
	font-size:12px;
}
.news-slider .slide .caption:hover:before{
	transform: translateX(0);
	-webkit-transform: translateX(0);
}
.news-slider .slide .caption:hover .post-title{
	color:#fff;
}
.news-slider .slick-arrow{
	position: absolute;
	top:50%;
	width: 50px;
	height: 100px;
	background:#fff;
	color:#333;
	border:none;
	font-size:20px;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
	-webkit-box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
	outline: none;
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
}
.news-slider .slick-arrow.slick-prev{
	left:-25px;

}
.news-slider .slick-arrow.slick-next{
	right:-25px;
}
.news-slider:hover .slick-prev{
	left:-15px;
}
.news-slider:hover .slick-next{
	right:-15px;
}
.heading-strip{
	position: relative;
	text-align: center;
	overflow: hidden;
}
.heading-strip .title{
	display: inline-block;
	text-transform: uppercase;
	position: relative;
}
.heading-strip .title:before,
.heading-strip .title:after{
	content: "";
	position: absolute;
	top:50%;
	right:120%;
	width: 1000px;
	background:#eee;
	height: 1px;
}
.heading-strip .title:after{
	right:auto!important;
	left:120%;
}
.beauty-row > .col-sm-3:nth-child(5){
	clear: both;
}
.beauty-item{
	position: relative;
	text-align: center;
	margin:0 0 30px;
}
.beauty-item .imagebox{
	height: 200px;
	display: block;
	position: relative;
	background: #fff;
}
.beauty-item .imagebox .thumbnail{
	transition: all 500ms ease;
	-webkit-transition: all 500ms ease;
}
.beauty-row:hover .imagebox .thumbnail{
	opacity: 0.6;

}
.beauty-item .imagebox:hover .thumbnail{
	opacity: 1;
}
.beauty-item .imagebox .caption a{
	display: inline-block;
	padding:5px 10px;
	background:#fff;
	color:#333;
	text-decoration: none!important;
	position: absolute;
	font-size:12px;
	bottom:15px;
	left:50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}
.beauty-item .post-title a{
	color:#111;
	font-size:14px;
	text-transform: uppercase;
}
.item-product{
	border:10px solid #EFEFEF;
	position: relative;
	display: block;
	width: 300px;
	height: 400px;
	max-width: 100%;
	margin:0 auto;
	padding:15px;
	text-align: center;
	text-decoration: none!important;
}
.item-product .product-title{
	color:#edb200;
	font-size:20px;
	font-weight: bold;
	margin:0 0 50px;
}
.item-product .product-image{
	text-align: right;
	height: 300px;
	position: absolute;
	bottom:0;
	right:-50px;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.item-product:hover .product-image{
	transform: translateX(-50px);
}
.item-product .product-image img{
	width: auto;
	height: 100%;
}
.product-info-box{
	position: relative;
	padding:50px 0;
	overflow: hidden;
}
.product-info-box:before{
	content: "";
	position: absolute;
	top:0;
	left:50%;
	bottom:0;
	width: 50%;
	background:#EAB001;
}
.product-info-box .container{
	position: relative;
}
.product-info-box .thumbnail{
	width: 50%;
	float: left;
	margin: 65px 0px 30px;
}
.product-info-box .text{
	margin-left: 50%;
	padding:30px 50px;
	color:#fff;
}
.product-info-box h3{
	margin:0 0 30px;
}
.product-info-box .more{
	background:#fff;
	color:#EAB001;
	display: inline-block;
	padding:10px 30px;
	text-decoration: none;
	margin:30px 0 0;
	font-weight: bold;
}
.product-info-box:nth-child(even):before{
	background:#eee;
	left:0;
}
.product-info-box:nth-child(even) .thumbnail{
	float: right;
}
.product-info-box:nth-child(even) .text{
	margin:0 50% 0 0;
	color:#333;
}
.product-info-box:nth-child(even) .more{
	background:#EAB001;
	color:#fff;
}
.media-testimoni{
	margin-bottom: 50px;
}
.media-testimoni .thumbnail{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	overflow: hidden;
}
.media-testimoni .media-body{
	padding-left: 30px;
}
.media-testimoni .media-body .text{
	background:#eee;
	padding:30px;
	margin:0 0 15px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	position: relative;
}
.media-testimoni .media-body .text:before{
	content: "";
	border:10px solid transparent;
	border-top:10px solid #eee;
	border-right:10px solid #eee;
	position: absolute;
	top:30px;
	left:-20px;
}
.media-testimoni .name{
	font-weight: bold;
	color:#111;
}
.nav-maps{
	background:#EDB200;
	padding:15px 0;
	border-radius: 0;
}
.nav-maps .nav li a{
	background: none;
	border:1px solid #fff;
	margin:0 5px;
	background:#fff;
	height: 35px;
	line-height: 35px;
	padding:0 15px;
	border:2px solid #111;
	border-radius: 5px;
	top:2px;
	position: relative;
	color:#111;
	font-weight: bold;
}
.nav-maps .nav li.active a, .nav-maps .nav li.active a:focus, .nav-maps .nav li.active a:hover {
    color: #fff;
    background-color: #EDB200;
}
.thumbnailx{margin-top:15px;}
@media (max-width: 992px){
	.container{
		width: 98%;
	}
	.navigation > .navbar-nav > li > a{
		font-size: 12px;
		padding:0 5px;
	}
	.jenis-kulit-slider .text{
		width: 45%;
		padding:30px 15px 15px;
	}
	.jenis-kulit-slider .text h3{
		font-size:20px;
	}
	.jenis-kulit-slider .text p{
		font-size:14px;
	}
	.thumbnailx{margin-top:0!important}
	#slideshow .slide img{
		width: 100%;
		height: inherit;
	}
}
@media (max-width: 767px){
	body{
		padding-top:60px;
	}
	.header{
		position: fixed;
		top:0;
		left:0;
		bottom:0;
		right:0;
		min-height: 60px!important;
		height: 60px!important;
		overflow: hidden!important;
		box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
		-webkit-box-shadow: 0 8px 50px -20px rgba(14, 21, 47, 0.4);
	}
	.header .navbar{
		background:#fff;
		min-height: 60px!important;
	}
	.header .navbar-brand{
		height: 50px!important;
		margin:5px 0!important;
		text-align: center;
		position: absolute;
		top:0;
		left:50%;
		float: none;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
	}
	.header .navbar-brand img{
		margin:0 auto!important;
	}
	.header .navbar-toggle{
		position: absolute;
		top:15px;
		left:15px;
		z-index: 999;
		border:none!important;
		background: none!important;
		text-align: center;
		padding:0;
	}
	.header .navbar-toggle .icon-bar:nth-child(3){
		width: 15px!important;
	}
	
	.navigation{
		position: fixed;
		top:0px;
		left:0;
		bottom:0;
		right:0;
		max-height: none;
		height: auto!important;
		background:#edb200;
		border:none;
		visibility: hidden;
		display: block!important;
		transform:translateX(-100%);
		-webkit-transform:translateX(-100%);
		transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
		margin:0!important;
		padding:100px 0;
	}
	.navigation.in{
		transform: translateX(0);
		-webkit-transform: translateX(0);
		visibility: visible;
	}
	.navigation .navbar-nav{
		margin:0!important;
		padding:0!important;
	}
	.navigation > .navbar-nav > li{
		display: block;
	}
	.navigation > .navbar-nav > li > a{
		line-height: 120%!important;
		height: auto;
		padding:15px 30px;
		color:#fff!important;
		font-size:20px;
		text-align: left;
		border-bottom:1px solid rgba(255,255,255,0.1);
		transition: all 300ms ease;
		-webkit-transition: all 300ms ease;
	}
	.navigation > .navbar-nav > li > a:hover,
	.navigation > .navbar-nav > li > a:active{
		background:rgba(255,255,255,0.1);
		border-left:10px solid rgba(255,255,255,0.5);
	}
	.navigation > .navbar-nav > li > a .fa-angle-down{
		float: right;
		margin:20px 0 0;
	}
	.navigation > .navbar-nav > li > ul{
		position: relative!important;
		top:auto!important;
		left:auto!important;
		background:rgba(0,0,0,0.2)!important;
		border-radius: 0!important;
		-webkit-border-radius: 0!important;
	}
	#slideshow-section{
		margin:0!important;
	}
	#slideshow-section .slick-dots{
		top:auto;
		bottom:0;
		left:0;
		right:0;
		text-align: center;
		transform:translate(0,0)!important;
		-webkit-transform:translate(0,0)!important;
	}
	#slideshow-section .slick-dots li{
		display: inline-block!important;
		margin:0 2px;
	}
	#slideshow-section .slick-dots li button{
		margin:0 2px;
	}
	.jenis-kulit-slider .slide{
		padding:50px 0;
		margin:0;
	}
	.jenis-kulit-slider .thumbnail{
		width: 100%;
	}
	.jenis-kulit-slider .text{
		position: relative;
		top:auto;right:auto;bottom:auto;
		width: 100%;
	}
	#section-contact .media{
		padding:15px 0;
	}
	#section-subscribe .col-sm-6:first-child{
		margin:0 0 20px;
	}
	#section-subscribe .form-control{
		min-width: 100%;
		max-width: 100%;
	}
	#footer{
		text-align: center;
	}
	#footer .pull-left,
	#footer .pull-right{
		width: 100%;
		float: none;
	}
	#section-kulit h2{
		font-size:18px!important;
	}
	#section-kulit h3{
		font-size:16px!important;
		font-weight: bold!important;
	}
	.jenis-kulit-slider .text{
		padding:15px;
		font-size: 12px;
	}
	.jenis-kulit-slider .btn-shop{
		font-size:12px;
	}
	h4.post-title{
		font-size:14px;
	}
	#pathway{
		padding:0!important;
	}
	.breadcrumb{
		padding:5px 0px;
	}
	.caption .post-title{
		font-size:14px!important;
	}
	.breadcrumb li{
		font-size:12px!important;
	}
	.section-lg{
		padding:15px 0!important;
	}
	#section-subscribe h3{
		font-size:16px!important;
	}
	.media-testimoni .media-left,
	.media-testimoni .media-body{
		display: block;
		padding:0;
		width: 100%;
		text-align: center;
	}
	.media-testimoni .media-left{
		text-align: center;
	}
	.media-testimoni .media-left .thumbnail{
		text-align: center;
		display: inline-block;
		margin:0 auto;
	}
	.media-testimoni .media-left img{
		margin:0 auto;
		display: inline-block;
	}
	.form-control{
		max-width: 100%!important;
	}
	#pathway .pull-left,
	#pathway .pull-right{
		float: none!important;
		width: 100%;
		margin:0 0 5px;
	}
	#pathway .form-inline{
		overflow: hidden;
		margin:10px 0;
	}
	#pathway .form-control{
		width: calc(100% - 50px)!important;
		display: inline-block;
		float: left;
		height: 50px;
	}
	#pathway .btn{
		float:left;
		width: 50px;
		height: 50px;
		border:none;
	}
	.nav-maps .nav-pills li{
		margin-bottom: 5px;
	}
	.nav-maps .nav-pills li a{
		margin:0;
	}
	.product-info-box{
		padding:15px 0;
		margin:0;
		overflow-x: hidden;
	}
	.product-info-box:before{
		display: none;
	}
	.product-info-box .container{
		position: relative;
		padding: 0;
	}
	.product-info-box .thumbnail{
		width: 100%!important;
		float: none!important;
		margin: inherit;
	}
	.product-info-box .text{
		margin:0!important;
		padding:30px!important;
		background:#EAB001!important;
		color:#fff!important;
		text-align: center;
	}
	.product-info-box .more{
		background:#fff!important;
		color:#EAB001!important;
	}
	.thumbnail.thumbnail-bg{
		background-position: right;
	}
	#slideshow .slide img{
		width: 100%;
		height: inherit;
	}
}

/* 528 */
.blog-item .post-content {
    padding: 5px 15px 15px;
    text-align: center;
    /* min-height: 180px; */
}
#slideshow a{
	color: #fff;
}
.matchx {
	min-height:155px;
}